/******/
/*BODY*/
/******/
body.white {
    /*Grigio chiaro*/
    background-color: #BDBDBD;
}

body.black{
    /*Grigio scuro*/
    background-color: #303030;
}

/********/
/*HEADER*/
/********/
header > img{
    height: 100px;
}

header {
    display: inline-block;
}

header > img:nth-child(2), header > img:nth-child(3){
    padding: 15px;
    max-height: 70px;
    float: right;

}

/********/
/*SLIDER*/
/********/

header > div.slider {
    margin: 0%;
    padding: 0%;
}

header > div.slider > button {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 50%;
    border-radius: 5px;
    font-weight: bold;
}

header > div.slider > button.selected{
    background-color: #707070;
    color: #FFBF49;
}

header > div.slider > button.unset{
    background-color: #BDBDBD;
    color: #000000;
}

body > main > h1 {
    text-align: center;
    color: #FFBF49;
}

input[type=number] {
    width: 25%;
}

input[type=button]{
    background-color: #BDBDBD;
    margin-left: 10px;
    margin-top: 20px;
}

#trash {
    margin-left: 30%;
}

#checkOut{
    background-color: #707070;
    margin-top: 20px;
    margin-left: 18px;
    color: #FFBF49;
    font-weight: bold;
}

#foo img[src="./img/trash.png"] {
    background-image: #707070;
}

ul {
    list-style: none;
}

ul > li {
    display: inline-block;
    text-align: center;
}

table {
    background-color: #BDBDBD;
    font-weight: bold;
    border-spacing: 0;
}

tr.border_bottom td {
    border-bottom:1px dashed #707070;
  }
  
th {
    background-color: #707070;
    border: thin #707070 ;
    color: #FFBF49;
}

td {
    height: 60px;
    color: #303030;
    text-align: center;
}

td.cell_selected {
    width: 1%;
}

td.cell_photo {
    max-width:90px;
    max-height:90px;
}
td.cell_name {
    width: 50%;
}

td.cell_unitPrice {
    width: 10%;
}

td.cell_quantity {
    width: 4%;
}

td.cell_total {
    width: 15%;
}

td.cell_trash {
    width: 5%;
}

.flex {
    max-width: 60%;
    margin-top:2%;
}

#trash {
    margin-right: 15px;
}

#checkOut {
    margin-bottom: 15%;
    margin-right: 20%;
}

p.noOrder {
    color: #FFBF49;
    text-align: center;
}

/*******/
/*Tommi*/
/*******/
main > form {
    text-align: center;
    color: #FFBF49;
    font-weight: bold;
}

header, footer{
    width: 100%;
    height: 10%;
    background-color: #303030;
}

nav {
    width: 100%
}

nav > p {
    padding: 0% 35%;
    text-align: justify;
}

footer > h3 {
    padding: 0% 30%;
    color:  #FFBF49;
    text-align: center;
}

/***************/
/*SCHERMO MEDIO*/
/***************/
@media screen and (max-width: 900px) {
    header {
        width: 100%;
        height: 3%;
        background-color: #303030;
    }
    
    header > img{
        height: 60px;
    }
    
    header {
        display: inline-block;
    }
    
    header > img:nth-child(2), header > img:nth-child(3){
        padding: 8px;
        height: 44px;
        float: right;
    
    }

    .flex {
        max-width: 90%;
        margin-top: 4%;
    }
}

/*****************/
/*SCHERMO PICCOLO*/
/*****************/
@media screen and (max-width: 350px) {
    header {
        width: 100%;
        height: 3%;
        background-color: #303030;
    }
    
    header > img{
        height: 40px;
    }
    
    header {
        display: inline-block;
    }
    
    header > img:nth-child(2), header > img:nth-child(3){
        padding: 5px;
        height: 30px;
        float: right;
    }

    .flex {
        max-width: 90%;
        margin-top: 10%;
    }
}