header {
    width: 100%;
    height: 10%;
    background-color: #303030;
}

header > img{
    height: 300px;
    width: auto;
}

header {
    display: inline-block;
}

header > img:nth-child(2), header > img:nth-child(3){
    height: 200px;
    float: right;
    
}